doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width" initial-scale="1.0")
		block title
		link(rel="stylesheet", href="libs/libs.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		
		//- Block Header
		include ../mixins/menu.pug
		header#header.header
			div.header__container
				a(href="index.html").header__logo ракета
				div.header__menu.menu
						block menu
				block order-btn-box
					a.header__order.scroll(href="#estimate") оставить заявку
				block burger
					div.header__burger
						input.burger-checkbox(type='checkbox')
						span
				
				div.scroll-up
					a(href="#header").scroll-up__icon.scroll

		//- Block Page-Content
		block page-content

		//- Block Footer
		footer.footer
			div.footer__container
				div.footer__top
					a(href="index.html").footer__logo ракета
					div.footer__contacts
						a(href="tel:+79119475986").footer__number +7 911 947 59 86
						a(href="mailto:irina@htmlacademy.ru	").footer__email irina@htmlacademy.ru	
				div.footer__bottom
					div.footer__pp
						| ООО «Ракета»
					div.footer__menu.menu
						block menu
					a(href="#estimate").footer__order.scroll оставить заявку

		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="libs/libs.min.js")
		script(src="js/script.min.js")
					
