extends templates/main-tamplate.pug

block title
	title Rocket - Аудит

block menu

	//- Block Menu
	-var selected = 'аудит';
	+menu(selected)

block page-content

	//- Block Audit-promo
	section.audit-promo
		div.audit-promo__container
			h2.audit-promo__title Технический аудит
			p.audit-promo__text Мы проводим целый комплекс работ на выявление и устранение ошибок в области оптимизации внутренней архитектуры сайта, удобства сайта для пользователя, в том числе для людей с ограниченными возможностями.
			a(href="#estimate").audit-promo__order.scroll работать с нами
			div.audit-promo__academy
				a(href="https://htmlacademy.ru", target="_blank").audit-promo__academy-link
					img(src="img/logos/htmlacademy.svg", alt="htmlacademy")
			img(src="img/space4.png", alt="space").audit-promo__space
			img(src="img/planet.svg", alt="planet1").audit-promo__planet1
			img(src="img/planet.svg", alt="planet2").audit-promo__planet2
			img(src="img/planet.svg", alt="planet2").audit-promo__planet3
			
	
	//- Block Tech-audit
	section.tech-audit
		div.tech-audit__container
			h2.tech-audit__title Вы получаете
			p.tech-audit__text.tech-audit__text--first Отчёт по всем выявленным ошибкам 
			p.tech-audit__text Рекомендации по исправлению всех выявленных ошибок
			p.tech-audit__text Оценку стоимости и сроков исправления выявленных ошибок
			p.tech-audit__text Специальные условия при заключении договора доработки сайта

	//- Block Metriks
	section.metriks
		div.metriks__container
			h2.metriks__title Метрики аудита
			div.metriks__items-box
				//- Item
				div.metriks__item
					h3.metriks__item-title Качество кода
					div.metriks__item-text-box
						p.metriks__item-text • Анализ и оценка правильности архитектуры сайта 
						p.metriks__item-text • Анализ и оценка корректности и качества программного кода
						p.metriks__item-text • Выявление битых (неработающих) ссылок 
				
				//- Item
				div.metriks__item
					h3.metriks__item-title Переполнение
					div.metriks__item-text-box
						p.metriks__item-text • Анализ и оценка объема контента в соответствии требованиям оптимизации
				//- Item
				div.metriks__item
					h3.metriks__item-title Взаимодействие с пользователем
					div.metriks__item-text-box
						p.metriks__item-text • Проверка работы интерактивных элементов, валидации форм
						p.metriks__item-text • Поиск ошибок пользовательского функционала
				//- Item
				div.metriks__item
					h3.metriks__item-title Скорость загрузки и оптимизация
					div.metriks__item-text-box
						p.metriks__item-text • Анализ производительности сайта
						p.metriks__item-text • Оценка скорости загрузки страниц
						p.metriks__item-text • Проверка кроссбраузерности и корректности отображения сайта на разных платформах
				//- Item
				div.metriks__item
					h3.metriks__item-title Доступность сайта 
					div.metriks__item-text-box
						p.metriks__item-text • Проверка возможности использования сайта с помощью клавиатуры
						p.metriks__item-text • Анализ доступности для читалок и людей с ограниченными возможностями 
				//- Item
				div.metriks__item
					h3.metriks__item-title Соответствие макету
					div.metriks__item-text-box
						p.metriks__item-text • Анализ соответствия макетов к выполненной вёрстке, корректность расположения и отображения элементов
			img(src="img/space5.png", alt="space").metriks__space
	
	//- Block - Tarifs
	section.tarifs
		div.tarifs__container
			h2.tarifs__title Тарифы
			h3.tarifs__subtitle Расчет стоимости работ зависит от количества страниц и выбранных критериев оценки
			div.tarifs__items-box
				//- Item
				div.tarifs__item
					h4.tarifs__item-title Базовый пакет
					div.tarifs__item-text-box
						p.tarifs__item-text • Переполнение
						p.tarifs__item-text • Тестирование на критерии
						p.tarifs__item-text • Взаимодействие с пользователем
						p.tarifs__item-text • Скорость загрузки и оптимизация
					div.tarifs__item-price-box
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--one 5 страниц - 2 500 ₽
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--two 10 страниц - 5 000 ₽
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--three 20 страниц - 9 000 ₽
				//- Item
				div.tarifs__item
					h4.tarifs__item-title Премиум пакет
					div.tarifs__item-text-box
						p.tarifs__item-text • Переполнение
						p.tarifs__item-text • Тестирование на критерии
						p.tarifs__item-text • Взаимодействие с пользователем
						p.tarifs__item-text • Скорость загрузки и оптимизация
						p.tarifs__item-text • Соответствие макету
						p.tarifs__item-text • Доступность сайта
						p.tarifs__item-text • Печатная версия сайта
						p.tarifs__item-text • Общие рекомендации по улучшению
					div.tarifs__item-price-box
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--one 5 страниц - 5 000 ₽
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--two 10 страниц - 10 000 ₽
						div.tarifs__item-price-text-box
							span.tarifs__item-price-text.tarifs__item-price-text--three 20 страниц - 18 000 ₽

	//- Block Estimate
	section#estimate.estimate
		div.estimate__container
			h2.estimate__title Работать с нами
			h3.estimate__subtitle Мы поможем не просто найти ошибки, но и устранить их. Оперативная работа над ошибками улучшает качество функционирования сайта и повышает коммерческую отдачу.
			form(action="/" onsubmit="sendForm()").estimate__form
				div.estimate__form-acception 
					| Ваша заявка принята и будет
					br
					| рассмотрена в течение 24 часов
				input(name="name", type="text", placeholder="Имя", required).estimate__form-input
				input(name="number", type="number", placeholder="Телефон", required).estimate__form-input
				input(name="email", type="email", placeholder="E-mail", required).estimate__form-input
				textarea(name="comment", cols="100", rows="4", placeholder="Опишите Вашу задачу").estimate__form-comment
				div.estimate__form-checkbox-box
					input#checkbox-pi(type="checkbox", required).estimate__form-checkbox-pi
					label.estimate__form-checkbox-pi-label(for="checkbox-pi")
					span.estimate__form-checkbox-pi-text Я согласен(на) на обработку персональных данных в соответствии с 
						a(target="_blank", href="#").estimate__form-checkbox-pi-text--link Политикой конфиденциальности
				input(name="submit-form", type="submit", value="Оставить заявку" disabled).estimate__form-submit.estimate__form-submit--disabled








