extends templates/main-tamplate.pug

block title
	title Rocket - Блог

block menu
	-var selected = 'блог';
	+menu(selected)

block page-content
	section.content
		div.content__container
			img(src="img/page-placeholders/blog.jpg", alt="placeholder")