extends templates/main-tamplate.pug

block title
	title Rocket - Блог

block menu
	-var selected = 'блог';
	+menu(selected)

block page-content

	//- Block Promo-blog
	section.promo-blog
		div.promo-blog__container
			h2.promo-blog__title Делимся знаниями
			h3.promo-blog__subtitle У нас есть много классных мыслей и мы готовы делиться ими
			div.promo-blog__academy
				a(href="#").promo-blog__academy-link
					img(src="img/logos/htmlacademy.svg", alt="htmlacademy")