extends templates/main-tamplate.pug

block title
	title Rocket - Вёрстка

block menu
	-var selected = 'вёрстка';
	+menu(selected)

block page-content
	
	//- Block Frontend-promo
	section.frontend-promo
		div.frontend-promo__container
			h2.frontend-promo__title Вёрстка
			p.frontend-promo__text Собираем из готового дизайна надёжные HTML-сайты, используя современные технологии разработки. Обеспечиваем качественный код, полную поддержку всех браузеров и гарантируем соблюдение сроков.
			a(href="#estimate").frontend-promo__order.scroll работать с нами
			div.frontend-promo__academy
				a(href="https://htmlacademy.ru", target="_blank").frontend-promo__academy-link
					img(src="img/logos/htmlacademy.svg", alt="htmlacademy")
			img(src="img/planet.svg", alt="planet").frontend-promo__planet
			img(src="img/planet.svg", alt="planet2").frontend-promo__planet2
			img(src="img/planet.svg", alt="planet3").frontend-promo__planet3
			img(src="img/space3.png", alt="space").frontend-promo__space
			img(src="img/space3.png", alt="space2").frontend-promo__space2
			
	//- Block Criteria
	section.criteria
		div.criteria__container
			div.criteria__items-box
				div.criteria__item Оцениваем проект в течение 24 часов
				div.criteria__item Интегрируемся на сторону клиента
				div.criteria__item Тестируем проект по 60 критериям качества

	//- Block Steck
	section.steck
		div.steck__container
			h2.steck__title Стек технологий
			div.steck__grid
				div.steck__img
				div.steck__items-box
					span.steck__item HTML 
					span.steck__item CSS
					span.steck__item JavaScript
					span.steck__item Less/SCSS/PostCss
					span.steck__item Gulp
				div.steck__items-box.steck__items-box--second
					span.steck__item Pug/Jade 
					span.steck__item Stylus
					span.steck__item jQuery
					span.steck__item Grunt
					span.steck__item React (JSX + CSS.Modules)
			img(src="img/planet.svg", alt="planet").steck__planet

	//- Block Price
	section.price
		div.price__container
			h2.price__title Стоимость
			h3.price__subtitle Всё просто. Никаких лишних цифр
			div.price__cost-box
				span.price__cost-text.price__cost-text--big 650₽
				span.price__cost-text.price__cost-text--small в час
			p.price__text.price__text--first Работаем на условиях 50% предоплаты. Постоплата в проекте менее 50 часов.
			p.price__text Предоставляем 14 дней гарантии на внесение бесплатных исправлений после сдачи проекта.
			p.price__text Рассматриваем разные варианты сотрудничества, с почасовой, еженедельной или ежемесячной оплатой.

	//- Block Estimate
	section#estimate.estimate
		div.estimate__container
			h2.estimate__title Работать с нами
			h3.estimate__subtitle Оценим проект любой сложности в течение 24 часов
			form.estimate__form
				input(name="name", type="text", placeholder="Имя").estimate__form-input
				input(name="phone", type="tel", placeholder="Телефон").estimate__form-input
				input(name="email", type="email", placeholder="E-mail").estimate__form-input
				textarea(name="comment", cols="100", rows="4", placeholder="Опишите Вашу задачу").estimate__form-comment
				div.estimate__form-checkbox-box
					input#checkbox-pi(type="checkbox").estimate__form-checkbox-pi
					label.estimate__form-checkbox-pi-label(for="checkbox-pi")
					span.estimate__form-checkbox-pi-text Я согласен(на) на обработку персональных данных в соответствии с 
						a(target="_blank", href="#").estimate__form-checkbox-pi-text--link Политикой конфиденциальности
				input(name="submit-form", type="submit", value="Оставить заявку").estimate__form-submit


 
	