extends templates/main-tamplate.pug

block title
	title Rocket - Вёрстка

block menu
	-var selected = 'вёрстка';
	+menu(selected)

block page-content
	section.content
		h2 Контент страницы вёрстка