extends templates/main-tamplate.pug

block title
	title Rocket - Главная

block menu
	-var selected = 'о нас';
	+menu(selected)

block page-content

	//- Block Promo
	section.promo
		div.promo__container
			h2.promo__title Пожалуй, лучший аутсорс в рунете 
			h3.promo__subtitle Фронт-энд разработка и поддержка сайтов 
			div.promo__academy
				a(href="https://htmlacademy.ru", target="_blank").promo__academy-link
					img(src="img/logos/htmlacademy.svg", alt="htmlacademy")

	//- Block Clients
	section.clients
		div.clients__container
			h2.clients__title С нами работают
			div.clients__logos-grid
				div.clients__logo-box
					img(src="img/logos/agima.svg", alt="agima")
				div.clients__logo-box
					span.clients__logo-box--done Done.
					div(style="width: 100%; height: 50%; background-color: rgb(243, 255, 15); position: absolute; left: 0px; top: 25%; z-index: -1; transform: rotate(-3deg);")
				div.clients__logo-box
					img(src="img/logos/pitercssconf.svg", alt="pitercssconf")
				div.clients__logo-box
					img(src="img/logos/molinos.svg", alt="molinos")
				div.clients__logo-box
					img(src="img/logos/shishki.svg", alt="shishki")
				div.clients__logo-box
					img(src="img/logos/itmo.svg", alt="itmo")
				div.clients__logo-box
					img(src="img/logos/setka.svg", alt="setka")
				div.clients__logo-box
					img(src="img/logos/cubeline.svg", alt="cubeline")
				div.clients__logo-box
					img(src="img/logos/itsagency.png", alt="itsagency")
				div.clients__logo-box
					img(src="img/logos/adindex.png", alt="adindex")
	
	//- Block Reviews
	section.reviews
		div.reviews__container
			h2.reviews__title Отзывы
			div.reviews__slider
				div.swiper-wrapper
					div.swiper-slide.reviews__slide 
						span.reviews__slide-text «Чувственнная вёрстка»
						span.reviews__slide-author Василий Пупкин
						span.reviews__slide-company Интернет-магазин
					div.swiper-slide.reviews__slide
						span.reviews__slide-text «Чётче не бывает»
						span.reviews__slide-author Мария Федорова
						span.reviews__slide-company агенство "Лунный свет"
					div.swiper-slide.reviews__slide
						span.reviews__slide-text «Неожиданно хорошо»
						span.reviews__slide-author Василий Пупкин
						span.reviews__slide-company дизайн-студия "Магнификат"
				div.reviews__slider-pagination
	
	//- Block About-us
	section.about-us
		div.about-us__container
			h2.about-us__title Чем мы занимаемся
			p.about-us__text Наша команда занимается фронт-энд разработкой и вёрсткой сайтов, используя только современные технологии. Уделяем особое внимание внутреннему качеству кода, тестируя проект по 60 критериям.
			div.about-us__link-box
				a.about-us__link(href="frontend.html") Вёрстка
				a.about-us__link(href="audit.html") Аудит

	//- Block Estimate
	section#estimate.estimate
		div.estimate__container
			h2.estimate__title Работать с нами
			h3.estimate__subtitle.estimate--index__subtitle Оценим проект любой сложности в течение 24 часов
			form.estimate__form
				input(name="name", type="text", placeholder="Имя").estimate__form-input
				input(name="phone", type="tel", placeholder="Телефон").estimate__form-input
				input(name="email", type="email", placeholder="E-mail").estimate__form-input
				textarea(name="comment", cols="100", rows="4", placeholder="Опишите Вашу задачу").estimate__form-comment
				div.estimate__form-checkbox-box
					input#checkbox-pi(type="checkbox").estimate__form-checkbox-pi
					label.estimate__form-checkbox-pi-label(for="checkbox-pi")
					span.estimate__form-checkbox-pi-text Я согласен(на) на обработку персональных данных в соответствии с 
						a(target="_blank", href="#").estimate__form-checkbox-pi-text--link Политикой конфиденциальности
				input(name="submit-form", type="submit", value="Оставить заявку").estimate__form-submit

