extends templates/main-tamplate.pug

block title
	title Rocket - Главная

block menu
	-var selected = 'о нас';
	+menu(selected)

block page-content

	//- Block Promo
	section.promo
		div.promo__container
			h2.promo__title Пожалуй, лучший аутсорс в рунете 
			h3.promo__subtitle Фронт-энд разработка и поддержка сайтов 

	//- Block Clients
	section.clients
		div.clients__container
			h2.clients__title С нами работают
			div.clients__logos-grid
				div.clients__logo-box
					img(src="img/index/clients/client1.png", alt="client1")
				div.clients__logo-box
					img(src="img/index/clients/client2.png", alt="client2")
				div.clients__logo-box
					img(src="img/index/clients/client3.png", alt="client3")
				div.clients__logo-box
					img(src="img/index/clients/client4.png", alt="client4")
				div.clients__logo-box
					img(src="img/index/clients/client5.png", alt="client5")
				div.clients__logo-box
					img(src="img/index/clients/client6.png", alt="client6")
				div.clients__logo-box
					img(src="img/index/clients/client7.png", alt="client7")
				div.clients__logo-box
					img(src="img/index/clients/client8.png", alt="client8")
				div.clients__logo-box
					img(src="img/index/clients/client9.png", alt="client9")
				div.clients__logo-box
					img(src="img/index/clients/client10.png", alt="client10")
	
	//- Block Reviews
	section.reviews
		div.reviews__container
			h2.reviews__title Отзывы
			div.reviews__slider
				div.swiper-wrapper
					div.swiper-slide.reviews__slide 
						span.reviews__slide-text «Чувственнная вёрстка»
						span.reviews__slide-author Василий Пупкин
						span.reviews__slide-company Интернет-магазин
					div.swiper-slide.reviews__slide
						span.reviews__slide-text «Чётче не бывает»
						span.reviews__slide-author Мария Федорова
						span.reviews__slide-company агенство "Лунный свет"
					div.swiper-slide.reviews__slide
						span.reviews__slide-text «Неожиданно хорошо»
						span.reviews__slide-author Василий Пупкин
						span.reviews__slide-company дизайн-студия "Магнификат"
				div.reviews__slider-pagination
	
	//- Block About-us
	section.about-us
		div.about-us__container
			h2.about-us__title Что мы делаем
			p.about-us__text Наша команда занимается фронт-энд разработкой и версткой сайтов, используя только современные технологии. Уделяем особое внимание внутреннему качеству кода, тестируя проект по 60 критериям.
			div.about-us__link-box
				a.about-us__link(href="frontend.html") Вёрстка
				a.about-us__link(href="audit.html") Аудит

	//- Block Estimate
	section#estimate.estimate
		div.estimate__container
			h2.estimate__title Работать с нами
			h3.estimate__subtitle Мы поможем не просто найти ошибки, но и устранить их. Оперативная работа над ошибками улучшает качество функционирования сайта и повышает коммерческую отдачу.
			form.estimate__form
				input(name="name", type="text", placeholder="Имя").estimate__form-input
				input(name="phone", type="tel", placeholder="Телефон").estimate__form-input
				input(name="email", type="email", placeholder="E-mail").estimate__form-input
				textarea(name="comment", cols="100", rows="4", placeholder="Опишите Вашу задачу").estimate__form-comment
				div.estimate__form-checkbox-box
					input#checkbox-pi(type="checkbox").estimate__form-checkbox-pi
					label.estimate__form-checkbox-pi-label(for="checkbox-pi")
					span.estimate__form-checkbox-pi-text Я согласен(на) на обработку персональных данных в соответствии с 
						a(href="#").estimate__form-checkbox-pi-text--link политикой конфиденциальности
				input(name="submit-form", type="submit", value="Оставить заявку").estimate__form-submit

	block libsJs
		script(src="libs/libs.min.js")

