mixin menu(selected)

	-
		var menu = {
			'о нас': "/index.html",
			'вёрстка': "/frontend.html",
			'аудит': "/audit.html",
			'блог': "/blog.html"
		};

	each val, key in menu
		a(class= selected.toLowerCase() === key.toLowerCase() ? 'menu__link  menu__link--active' : 'menu__link' href=val, title=key)= key