// Block Promo-blog
.promo-blog {
	padding: 70px 0 35px;

	&__container {
		@include container320();
		position: relative;
	}

	&__title {
		@include title320();
		max-width: 300px;
	}

	&__subtitle {
		@include subtitle320();
		margin-top: 60px;
		max-width: 300px;
	}

	&__academy {
		margin-top: 70px;
		display: block;
		text-align: right;

		& img {
			width: 170px;
		}
	}

	&__academy-link {
		display: inline-block;
	}

	&__space1 {
		position: absolute;
		width: 1000px;
		left: 75px;
    	top: -583px;
		z-index: -2;
	}

	&__space2 {
		display: none;
	}

	&__planet1 {
		position: absolute;
	    width: 100px;
	    top: -74px;
	    left: 183px;
	    z-index: -1;
	}

	&__planet2 {
		position: absolute;
		width: 200px;
		top: 0;
    	right: -15px;
		z-index: -1;
	}

	&__planet3 {
		position: absolute;
		width: 125px;
    	top: 192px;
    	right: 42px;
		z-index: -1;
	}

	&__planet4 {
		display: none;
	}

	&__planet5 {
		display: none;
	}

	@media screen and(min-width: 640px) {
		& {
			padding: 85px 0;
		}

		&__container {
			@include container640();
		}

		&__title {
			max-width: 100%;
		}

		&__subtitle {
			max-width: 70%;
		}

		&__space1 {
			width: 1200px;
			left: 130px;
		}

		&__planet1 {
    		top: -117px;
    		right: 136px;
    		left: auto;
		}

		&__planet2 {
			top: -20px;
		}

		&__planet3 {
			top: 135px;
		}
	}

	@media screen and(min-width: 1024px) {
		& {
			padding: 100px 0;
		}

		&__container {
			@include container1024();
		}

		&__title {
			@include title();
		}

		&__subtitle {
			@include subtitle();
		}

		&__academy {
			margin-top: 120px;

			& img {
				width: 220px;
			}
		}

		&__space1 {
			display: none;
		}

		&__space2 {
			display: block;
		    position: absolute;
		    width: 1200px;
		    left: -356px;
		    top: -607px;
		    z-index: -2;
		}

		&__planet1 {
			width: 225px;
			right: 80px;
		}

		&__planet2 {
			top: 45px;
			width: 175px;
			right: -50px;
		}

		&__planet3 {
			right: 245px;
			top: 185px;
		}

		&__planet4 {
			display: block;
			position: absolute;
			width: 100px;
			top: -90px;
			left: 0;
			z-index: -1;
		}

		&__planet5 {
			display: block;
			position: absolute;
			width: 500px;
			top: 150px;
    		left: -318px;
			z-index: -1;
		}
	}

	@media screen and(min-width: 1250px) {
		&__container {
			@include container1250();
		}
	}
}

// Block Articles
.articles {
	&--top {
		padding: 35px 0 0;
	}

	&--bottom {
		margin-top: 20px;
		padding: 0 0 80px;
	}

	&__container {
		@include container320();
	}

	&__grid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__pugination {
		margin-top: 50px;
		text-align: center;
		font-size: 2em;
	}

	&__pugination-link {
		color: $color-grey;
		border-bottom: 1px solid transparent;

		&--active {
			font-weight: bold;
		}

		&:hover {
			border-bottom: 1px solid $color-grey;
		}
	}

	&__pugination-nextlink {
		margin-left: 15px;
		color: $color-grey;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom: 1px solid $color-grey;
		}
	}

	@media screen and(min-width: 640px) {
		&__container {
			@include container640();
		}
	}

	@media screen and(min-width: 1024px) {
		&__container {
			@include container1024();
		}

		&__grid {
			flex-direction: row;
		}
	}

	@media screen and(min-width: 1250px) {
		&__container {
			@include container1250();
		}
	}
}

// Block Article
.article {
	margin-top: 20px;
	padding-bottom: 30px;

	&__promo {
		position: relative;
		display: flex;
		align-items: center;
		padding: 20px;

		&--img {
			background: transparent;
			padding: 0;
			height: auto;

			& img {
				width: 100%;
			}
		}
	}

	&__title {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2em;
		color: #fff;
		padding: 15px;
	}

	&__name {
		margin-top: 10px;
		font-size: 1.6em;
		color: $color-grey;
		font-weight: bold;
	}

	&__details {
		display: flex;
    	flex-wrap: wrap;
		margin-top: 10px;
		font-size: 1.4em;
		color: $color-grey;
	}

	&__author {
		margin-right: 10px;
	}

	&__date {
		margin-right: 10px;
	}

	&__text {
		margin-top: 10px;
		color: $color-grey;
		font-size: 1.4em;
		max-height: 76px;
		overflow: hidden;
	}

	&__more {
		display: inline-block;
		margin-top: 10px;
		font-size: 1.6em;
		color: $color-grey;
		font-weight: bold;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom: 1px solid $color-grey;
		}
	}

	@media screen and(min-width: 640px) {
		&__promo {
			padding: 30px;
			height: 220px;

			&--img {
				padding: 0;
				height: auto;
			}
		}

		&__title {
			font-size: 3em;
			padding: 20px;
		}

		&__text {
			max-height: 40px;
		}
	}

	@media screen and(min-width: 1024px) {
		& {
			width: 48%;
		}

		&__title {
			font-size: 3em;
			padding: 30px;
		}
	}
}

// Block Subscription
.subscription {
	background: $bg-gradient;
	padding: 40px 0;
	
	&__container {
		@include container320();
	}

	&__title {
		text-align: center;
		font-size: 1.6em;
		color: #fff;
		text-transform: uppercase;
	}

	&__form {
		margin-top: 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__email {
		width: 49%;
		border: none;
		padding: 10px;
		border-radius: 0;
		font-size: 1.4em;
		font-style: italic;
		text-indent: 10px;

		&::-webkit-input-placeholder { color: $color-grey; }
		&::-moz-placeholder { color: $color-grey; }
		&:-moz-placeholder { color: $color-grey; }
		&:-ms-input-placeholder { 	color: $color-grey; }
	} 

	&__submit {
		width: 49%;
		padding: 10px;
		background-color: transparent;
		font-size: 1.4em;
		color: #fff;
		text-transform: uppercase;
		border: 2px solid #fff;
		border-radius: 0;
		cursor: pointer;

		&:hover {
			background: $bg-gradient;
		}
	}

	@media screen and(min-width: 320px) {
		&__submit {
			font-size: 1.6em;
		}
	}

	@media screen and(min-width: 640px) {
		&__container {
			@include container640();
		}

		&__title {
			font-size: 2em;
		}

		&__form {
			margin-top: 30px;
		}

		&__email {
			font-size: 1.8em;
		}

		&__submit {
			font-size: 2em;
		}
	}

	@media screen and(min-width: 1024px) {
		&__container {
			@include container1024();
			display: flex;
    		justify-content: space-between;
    		align-items: center;
		}

		&__title {
			width: 50%;
		}

		&__form {
			margin-top: 0;
			width: 48%;
		}

		&__email {
			width: 50%;
		}

		&__submit {
			width: 50%;
		}
	}

	@media screen and(min-width: 1250px) {
		&__container {
			@include container1250();
		}
	}
}

.subscription__email:-webkit-autofill,
.subscription__email:-webkit-autofill:hover, 
.subscription__email:-webkit-autofill:focus
.subscription__email:-webkit-autofill {
  -webkit-text-fill-color: $color-grey;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}