@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl700'), 
    	url('../fonts/MuseoSansCyrl700.woff2') format('woff2'), 
    	url('../fonts/MuseoSansCyrl700.woff') format('woff'), 
    	url('../fonts/MuseoSansCyrl700.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl900'),
    	url('../fonts/MuseoSansCyrl900.woff2') format('woff2'), 
    	url('../fonts/MuseoSansCyrl900.woff') format('woff'), 
    	url('../fonts/MuseoSansCyrl900.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
