// Block Header
.header {
	padding: 30px 0;
	
	&__container {
		height: 56px;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
    	align-items: center;
		height: 100%;
		padding: 0 35px 0;
		text-transform: uppercase;
		font-size: 29px;
		color: #fff;
		font-family: $ff-msc;
		background: $bg-gradient;
		border: 4px solid $color-blue;
	}

	&__menu {
		margin-right: 20px;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		align-items: center;
		flex-grow: 1;
	}

	&__order {
		display: flex;
    	align-items: center;
		height: 100%;
		padding: 0 35px 0;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 900;
		color: $color-blue;
		font-family: $ff-msc;
		border: 4px solid $color-blue;

		&:hover {
			color: #fff;
			background: $bg-gradient;
		}
	}

	@media screen and(min-width: 1170px) {
		&__container {
			@include container1170();
		}

		&__menu {

		}
	}
}

// Scroll up
.icon-scroll-up {
	position: fixed;
	display: inline-block;
	opacity: 0;
	background: url('../img/icon-scroll-up.png');
	width: 107px;
	height: 107px;
	right: 30%;
    bottom: 10%;
    z-index: -999;
    cursor: pointer;
    transition: all 250ms ease;

    @media screen and (min-width: 1170px) {
    	& {
    		right: 7%;
    	}
    }
}

// Block Menu
.menu {

	&__link {
		position: relative;
		margin-right: 40px;
		font-size: 18px;
		text-transform: uppercase;
		font-family: $ff-msc;
		font-weight: 900;
		opacity: 0.6;

		&:before {
			content: '';
			position: absolute;
			bottom: -2px;
			width: 100%;
			height: 2px;
			background-color: $color-blue;
			opacity: 1;
			transform: scale(0, 1);
			transform-origin: 0 50%;
			transition: all 250ms ease;
		}

		&:hover:before {
			transform: scale(1, 1);
		}

		&--active {
			color: $color-blue;
			opacity: 1;
		}
	}
}

// Block Footer
.footer {
	background: $bg-gradient;

	&__container {
		padding: 30px 0;
	}
	
	&__top {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		display: none;
		height: 100%;
		padding: 5px 30px;
		text-transform: uppercase;
		font-size: 29px;
		color: #fff;
		font-family: $ff-os;
		border: 3px solid #fff;
	}

	&__number {
		font-size: 32px;
		font-weight: bold;
		font-family: $ff-os;
		color: #fff;
	}

	&__email {
		font-size: 20px;
		font-family: $ff-os;
		font-weight: bold;
		color: #fff;
	}

	&__bottom {
		width: 100%;
		margin-top: 25px;
		display: flex;
		justify-content: space-between;
	}

	&__pp {
		display: none;
		font-size: 20px;
		font-family: $ff-os;
		color: #fff;
	}

	&__menu {
		display: none;
		flex-grow: 1;
		justify-content: flex-end;
		align-items: flex-end;

		& .menu__link {
			margin-right: 45px;
			font-size: 18px;
			color: #fff;
			opacity: 1;
			font-family: $ff-os;

			&:before {
				background-color: #fff;
			}
		}
	}

	&__order {
		display: flex;
    	align-items: center;
		padding: 0 35px 0;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 900;
		color: #fff;
		font-family: $ff-msc;
		border: 3px solid #fff;
	}

	@media screen and(min-width: 1170px) {
		&__container {
			@include container1170();
		}

		&__logo {
			display: block;
		}

		&__pp {
			display: block;
		}

		&__menu {
			display: flex;
		}
	}
}